aiosqlite==0.21.0
asgiref==3.9.1
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
Django==5.2.4
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-nested-routers==0.94.2
flake8==7.3.0
idna==3.10
mccabe==0.7.0
mypy_extensions==1.1.0
mysql-connector-python==9.3.0
mysqlclient==2.2.7
packaging==25.0
parameterized==0.9.0
pathspec==0.12.1
platformdirs==4.3.8
pycodestyle==2.14.0
pyflakes==3.4.0
PyJWT==2.9.0
python-dotenv==1.1.1
requests==2.32.4
sqlparse==0.5.3
typing_extensions==4.14.1
urllib3==2.5.0
